<form action='/api/sessions/login' method='POST'>
  <input id='email' name='email' type='text' placeholder='email' />
  <input id='password' name='password' type='text' placeholder='password' />
  <input type='submit' value='login' />
  <a href="/api/sessions/github">Login con github</a>
</form>
<a href='/register'>Registrate</a>